.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

#eye {
    padding:0px;
    text-decoration: none;
    text-align:center;	
    color:#000;	
    background-color: #fff;
}