.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.login{

    width: 20vw;
    height: 40vh;
    background: #08afa5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 18px 0 18px;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

#chk{
    margin-top: -2vh;
    font-size: larger;
    font-family: fantasy;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.input{
    padding: 0.6875rem 1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    justify-content: center;
    /* display: flex; */
    flex-direction: row;
    border-radius: 18px 18px 18px 18px;
}
#pswd{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    /* display: flex; */
    flex-direction: row;
    border-radius: 18px 18px 18px 18px;
}
#eyePassword{
    position: absolute;
    right: 1px;
    top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    color: black; 
}

#btnEntrar{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: inline;
    flex-direction: row;
    border-radius: 0 18px 0 18px;
    background-color: #046F7D;
    color: #fff;
    border-color: #CBFBE6;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
    .hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

#btnCadastrar{
    width: 100%;
    margin-top: 20px;
    border-radius: 0 18px 0 18px;
    background-color: #046F7D;
    color: #fff;
    border-color: #CBFBE6;
    box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 1s;
    .hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}

